<style>
    div.navbar {
        padding: 1px 14vw;
        background-color: #212529;
        color: white;
    }

    ul {
        list-style-type: none;
        margin: 4vh 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        text-align: center;
        float: left;
    }

    li:first-child {
        float: left;
    }

    li:last-child {
        float: right;
    }

    a,
    .logoText {
        display: block;
        padding: 14px;
        margin-right: 1vw;
        margin-bottom: 0;
    }

    li a {
        display: block;
        text-align: center;
    }

    .logo {
        display: flex;
    }
</style>

<div class="navbar">
    <ul>

        <!-- This is Logo -->
        <li>
            <div class="logo">
                <i class="nes-jp-logo"></i>
                <p class="logoText">Noissy</p>
            </div>
        </li>

        <!-- Navbar button part -->
        <li><a href="/chat">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about" <%=isHidden %> >Welcome, #USERNAME#</a></li>
    </ul>
</div>