<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Noissy</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <style>
    body {
      margin: 0 14vw;
    }

    .bodyPart {
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
    }

    .imageBodyGroup {
      margin-bottom: 32px;
    }

    a.linkBody {
      margin: 0;
    }

    i.nes-icon.trophy.is-medium {
      margin-left: 4vw;
      margin-right: 4vw;
    }
  </style>
</head>

<body>

  <!-- Navbar part -->

  <%- include('partials/navbar') %>

    <!-- Body part -->

    <div class="bodyPart">
      <div class="imageBodyGroup">
        <i class="nes-icon trophy is-medium"></i><i class="nes-icon trophy is-medium"></i><i
          class="nes-icon trophy is-medium"></i>
      </div>
      <h1>I want YOU to know us MORE!</h1>
      <p>Hello, Thanks for using Noissy as your chatting app.<br><br>As you can see, we (Muamar Al Farabi and
        Febriansyah)
        are really trying hard to build this web app. So we are very happy if you use it and tell to your
        friend. <br><br>If you see some naughty bugs around here, let us know! Contact us at our github.<a
          href="https://github.com/ralfarios">Ralfarios @Github</a></p>
      <p>or</p> <a href="https://github.com/blackjac7">Blackjac7 @Github</a><br>

      <p>Special thanks to B.C.Rikko and development team for letting us using NES.css as our display library. We love y'all, yo!</p>
      <i class="nes-icon is-large heart"></i><i class="nes-icon is-large heart"></i><i class="nes-icon is-large heart"></i>
      <a href="https://nostalgic-css.github.io/NES.css/">Link to NES.css!</a>
    </div>


</body>

</html>