<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Noissy</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <style>
    body {
      margin: 0 14vw;
    }

    .bodyPart {
      text-align: center;
      margin-top: 9rem;
      margin-bottom: 9rem;
    }

    .imageBodyGroup {
      margin-bottom: 32px;
    }

    .buttonBodyGroup {
      margin-top: 32px;
    }
  </style>
</head>

<body>

  <!-- Navbar part -->

  <%- include('partials/navbar') %>

    <!-- Body part -->

    <div class="bodyPart">
      <div class="imageBodyGroup">
        <i class="nes-jp-logo"></i> <i class="nes-jp-logo"></i> <i class="nes-jp-logo"></i>
      </div>
      <h1>Welcome to Noissy! Let's Chat!</h1>
      <p>Talk and chat with your friend about anything, anytime, and anywhere. Chat using Noissy never felt this
        nostalgic.</p>
      <div class="buttonBodyGroup">
        <a class="nes-btn" href="/signup">Register</a>

        <button onclick="location.href='/login'" type="button" class="nes-btn is-primary">Login</button>
      </div>
    </div>


</body>

</html>