<div>
    <div class="headerChat">
      <img class="nes-avatar is-rounded is-medium" alt="Gravatar image example"
        src="https://www.gravatar.com/avatar?s=15" style="image-rendering: pixelated;">
      <h2>#USERNAME#</h2>
      <button type="button" class="nes-btn is-primary">Primary</button>
    </div>